.bg-normal {
  background-color: #7c7a0b !important;
}
.bg-fire {
  background-color: #b95e00 !important;
}
.bg-water {
  background-color: #2573e3 !important;
}
.bg-electric {
  background-color: #8c7500 !important;
}
.bg-grass {
  background-color: #448600 !important;
}
.bg-ice {
  background-color: #008581 !important;
}
.bg-fighting {
  background-color: #c22e28 !important;
}
.bg-poison {
  background-color: #a33ea1 !important;
}
.bg-ground {
  background-color: #907300 !important;
}
.bg-flying {
  background-color: #855ede !important;
}
.bg-psychic {
  background-color: #eb0064 !important;
}
.bg-bug {
  background-color: #707d00 !important;
}
.bg-rock {
  background-color: #887600 !important;
}
.bg-ghost {
  background-color: #735797 !important;
}
.bg-dragon {
  background-color: #6f35fc !important;
}
.bg-dark {
  background-color: #705746 !important;
}

.bg-steel {
  background-color: #737398 !important;
}

.bg-fairy {
  background-color: #be4e8b !important;
}
